DB_URL="YOUR DB URL HERE"
DB_USER="YOUR DB USERNAME HERE"
DB_PASS="YOUR DB PASSWORD HERE"
APP_USERS_TABLE="NAME OF YOUR USERS TABLE"

JMH benchmark testing:
java -jar target/benchmarks.jar -rf json -rff results.json

forks -f
warmup iterations -wi
iterations -i
java -jar target\benchmarks.jar -f 3 -wi 5 -i 5 -rf json -rff results.json